@for (cartRow of cart; track cartRow) {
  <div class="product">
    <div class="name">{{cartRow.product.name}}</div>
    <div class="price">{{cartRow.product.price}} €</div>
    <div class="quantity">
      <button (click)="decreaseQuantity(cartRow)">-</button>
      <div>{{cartRow.quantity}} tk</div>
      <button (click)="increaseQuantity(cartRow)">+</button>
    </div>
    <div class="total">{{(cartRow.product.price * cartRow.quantity).toFixed(2)}} €</div>
    <button (click)="deleteFromCart($index)">x</button>
  </div>
}

<div>Total: {{calculateCartSum().toFixed(2)}}€</div>

<br><br>

<button (click)="saveOrder()">
  Telli -> peida kui on ostukorv tühi ja peida kui pole sisse logitud
</button>

<br><br>

<button (click)="getPMs('ee')">Eesti</button>
<button (click)="getPMs('lv')">Läti</button>
<button (click)="getPMs('lt')">Leedu</button>

<select>
@for (pm of parcelMachines; track pm) {
  <option>{{pm.NAME}}</option>
}
</select>