<div>{{message}}</div>

<form #signupForm="ngForm" (submit)="submitSignup(signupForm)">
  <label>Email</label> <br>
  <input name="email" ngModel type="text"> <br>
  <label>Password</label> <br>
  <input name="password" ngModel type="text"> <br>
  <label>First name</label> <br>
  <input name="firstName" ngModel type="text"> <br>
  <label>Last name</label> <br>
  <input name="lastName" ngModel type="text"> <br>
  <label>Street</label> <br>
  <input name="street" ngModel type="text"> <br>
  <label>House number</label> <br>
  <input name="houseNo" ngModel type="text"> <br>
  <label>Apartment number</label> <br>
  <input name="apartmentNo" ngModel type="text"> <br>
  <label>Postal index</label> <br>
  <input name="postalIndex" ngModel type="text"> <br>
  <label>City</label> <br>
  <input name="city" ngModel type="text"> <br>
  <label>County</label> <br>
  <input name="county" ngModel type="text"> <br>
  <label>Country</label> <br>
  <input name="country" ngModel type="text"> <br>
  <button>Sisesta</button>
</form>