.active-page {
  font-weight: bold;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 3% 20%;
}

.product {
  border: 1px solid lightgray;
  padding: 5px;
}

.product:hover .name {
  transform: scale(1.1);
  transition: 1s;
}

.name {
  transition: 1s;
  font-weight: bold;
  text-align: center;
}

.price {
  margin: 5px;
}