<button routerLink="/">Avaleht</button>
<button routerLink="/cart">Ostukorv</button>
<button routerLink="/signup">Registreeru</button>
<button routerLink="/manage-category">Halda kategooriaid</button>
<button routerLink="/manage-characteristics">Halda omadusi</button>
<button routerLink="/manage-products">Halda tooteid</button>
<button routerLink="/add-product">Lisa toode</button>
<!-- MENÜÜ -->
 <br><br>
<router-outlet /> <!-- vasakul on sisu -> leht vastavalt sellele mis on URLs -->
<!-- {{ title }} FOOTER -->