<table>
  <tr>
    <th>Nimi</th>
    <th>Hind</th>
    <th>Kategooria</th>
    <th>Proteiinid</th>
    <th>Süsivesikud</th>
    <th>Rasvad</th>
    <th>Kustuta</th>
    <th>Muuda</th>
  </tr>
@for (product of products; track product) {
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.category.name }}</td>
    <td>{{ product.nutrients.protein }}</td>
    <td>{{ product.nutrients.carbohydrate }}</td>
    <td>{{ product.nutrients.fat }}</td>
    <td> <button (click)="removeProduct(product.name)">x</button> </td>
    <td> <button routerLink='{{"/edit-product/" + product.name}}'>Muuda</button> </td>
  </tr>
}
</table>